<!--
                ___           ___           ___           ___           ___
               /\__\         /\  \         /\  \         /\  \         /\__\
              /::|  |       /::\  \       /::\  \       /::\  \       /:/  /
             /:|:|  |      /:/\:\  \     /:/\:\  \     /:/\:\  \     /:/  /
            /:/|:|  |__   /::\~\:\  \   /:/  \:\  \   /:/  \:\  \   /:/  /
           /:/ |:| /\__\ /:/\:\ \:\__\ /:/__/ \:\__\ /:/__/ \:\__\ /:/__/
           \/__|:|/:/  / \/__\:\/:/  / \:\  \  \/__/ \:\  \  \/__/ \:\  \
               |:/:/  /       \::/  /   \:\  \        \:\  \        \:\  \
               |::/  /        /:/  /     \:\  \        \:\  \        \:\  \
               /:/  /        /:/  /       \:\__\        \:\__\        \:\__\
               \/__/         \/__/         \/__/         \/__/         \/__/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 NOT FOUND</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Naccl/blog-resource/github-badge.min.css">
</head>
<body class="site">

  <!--导航-->
  <nav th:replace="_fragments :: menu(0)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
  </nav>

  <div class="site-content">

    <img src="../../static/images/404.jpg" th:src="@{/images/404.jpg}" alt="" class="ui rounded image m-img-in-center " style="margin-bottom: 10em!important;">

  </div>


  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
  </footer>

  <!--/*/<th:block th:replace="_fragments :: myScript">/*/-->
  <!--/*/</th:block>/*/-->
</body>
</html>